:root {
    --a11y-outline:2px #00d9ad solid!important;
    --a11y-neongreen:#00d9ad;
    --a11y-white:#fff;
    --a11y-font-stack: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

/*-------https://www.w3.org/TR/html-aria/--------*/


body.a11y header:not([role]),
body.a11y nav:not([role]),
body.a11y footer:not([role]),
body.a11y article:not([role]),
body.a11y aside:not([role]),
body.a11y datalist:not([role]),
body.a11y dd:not([role]),
body.a11y button:not([role]),
body.a11y dfn:not([role]),
body.a11y details:not([role]),
body.a11y dialog:not([role]),
body.a11y dl:not([role]),
body.a11y embed:not([role]),
body.a11y fieldset:not([role]),
body.a11y figcaption:not([role]),
body.a11y figure:not([role]),
body.a11y form:not([role]),
body.a11y h1:not([role]),
body.a11y h2:not([role]),
body.a11y h3:not([role]),
body.a11y h4:not([role]),
body.a11y h5:not([role]),
body.a11y h6:not([role]),
body.a11y hr:not([role]),
body.a11y img:not([role]),
body.a11y input[type=button]:not([role]):before,
body.a11y input[type=checkbox]:not([role]):before,
body.a11y input[type=email]:not([role]):before,
body.a11y input[type=image]:not([role]):before,
body.a11y input[type=number]:not([role]):before,
body.a11y input[type=radio]:not([role]):before,
body.a11y input[type=range]:not([role]):before,
body.a11y input[type=reset]:not([role]):before,
body.a11y input[type=search]:not([role]):before,
body.a11y input[type=submit]:not([role]):before,
body.a11y a:not([role]):before,
body.a11y main:not([role]):before,
body.a11y math:not([role]):before,
body.a11y menu:not([role]):before,
body.a11y object:not([role]):before,
body.a11y ol:not([role]):before,
body.a11y optgroup:not([role]):before,
body.a11y option:not([role]):before,
body.a11y output:not([role]):before,
body.a11y progress:not([role]):before,
body.a11y section:not([role]):before,
body.a11y select:not([role]):before,
body.a11y summary:not([role]):before,
body.a11y table:not([role]):before,
body.a11y tbody:not([role]):before,
body.a11y textarea:not([role]):before,
body.a11y tfoot:not([role]):before,
body.a11y thead:not([role]):before,
body.a11y td:not([role]):before,
body.a11y th:not([role]):before,
body.a11y tr:not([role]):before,
body.a11y ul:not([role]):before,
body.a11y video:not([role]):before,
body.a11y ul:not([role]):before {
   outline:var(--a11y-outline)!important;
   position: relative!important;
}


body.a11y header:not([role]):before,
body.a11y nav:not([role]):before,
body.a11y footer:not([role]):before,
body.a11y article:not([role]):before,
body.a11y aside:not([role]):before,
body.a11y button:not([role]):before,
body.a11y a:not([role]):before,
body.a11y datalist:not([role]):before,
body.a11y dfn:not([role]):before,
body.a11y details:not([role]):before,
body.a11y dialog:not([role]):before,
body.a11y dl:not([role]):before,
body.a11y embed:not([role]):before,
body.a11y fieldset:not([role]):before,
body.a11y figcaption:not([role]):before,
body.a11y figure:not([role]):before,
body.a11y form:not([role]):before,
body.a11y dd:not([role]):before,
body.a11y h1:not([role]):before,
body.a11y h2:not([role]):before,
body.a11y h3:not([role]):before,
body.a11y h4:not([role]):before,
body.a11y h5:not([role]):before,
body.a11y h6:not([role]):before,
body.a11y hr:not([role]):before,
body.a11y img:not([role]):before,
body.a11y input[type=button]:not([role]):before,
body.a11y input[type=checkbox]:not([role]):before,
body.a11y input[type=email]:not([role]):before,
body.a11y input[type=image]:not([role]):before,
body.a11y input[type=number]:not([role]):before,
body.a11y input[type=radio]:not([role]):before,
body.a11y input[type=range]:not([role]):before,
body.a11y input[type=reset]:not([role]):before,
body.a11y input[type=search]:not([role]):before,
body.a11y input[type=submit]:not([role]):before,
body.a11y a:not([role]):before,
body.a11y main:not([role]):before,
body.a11y math:not([role]):before,
body.a11y menu:not([role]):before,
body.a11y object:not([role]):before,
body.a11y ol:not([role]):before,
body.a11y optgroup:not([role]):before,
body.a11y option:not([role]):before,
body.a11y output:not([role]):before,
body.a11y progress:not([role]):before,
body.a11y section:not([role]):before,
body.a11y select:not([role]):before,
body.a11y summary:not([role]):before,
body.a11y table:not([role]):before,
body.a11y tbody:not([role]):before,
body.a11y textarea:not([role]):before,
body.a11y tfoot:not([role]):before,
body.a11y thead:not([role]):before,
body.a11y td:not([role]):before,
body.a11y th:not([role]):before,
body.a11y tr:not([role]):before,
body.a11y ul:not([role]):before,
body.a11y video:not([role]):before,
body.a11y ul:not([role]):before,
body.a11y ul:not([role]):before,
body.a11y ul:not([role]):before {
  font-family:var(--a11y-font-stack)!important;
  font-weight:500!important;
  font-size:10px!important;
  color:var(--a11y-white)!important;
  background-color:var(--a11y-neongreen)!important;
  padding:4px!important;
  height:20px!important;
  text-transform:capitalize!important;
  position: absolute!important;
  z-index: 2000!important;
  top:0!important;
  left:0!important;
  letter-spacing:0!important;
}

body.a11y nav:not([role]):before,
body.a11y footer:not([role]):before,
body.a11y aside:not([role]):before  {
  content: 'role';
}

body.a11y header:not([role]):before {
  content: 'role = banner | group | presentation';
}

body.a11y button:not([role]):before {
  content: 'role = button | checkbox | link | menuitem | menuitemcheckbox | menuitemradio | option | radio | switch | tab';
}

body.a11y article:not([role]):before {
  content: 'role = feed | presentation | none | document | application | main | region';
}

body.a11y aside:not([role]):before {
  content: 'role = complementary';
}

body.a11y datalist:not([role]):before {
  content: 'role = listbox';
}

body.a11y dd:not([role]):before {
  content: 'role = definition';
}

body.a11y dfn:not([role]):before {
  content: 'role = term';
}

body.a11y details:not([role]):before {
  content: 'role = group';
}

body.a11y dialog:not([role]):before {
  content: 'role = group | list | presentation';
}

body.a11y dl:not([role]):before {
  content: 'role = listitem';
}

body.a11y embed:not([role]):before {
  content: 'role = application | document | img | presentation';
}

body.a11y fieldset:not([role]):before {
  content: 'role = presentation | radiogroup';
}

body.a11y figcaption:not([role]):before {
  content: 'role = group | presentation';
}

body.a11y figure:not([role]):before {
  content: 'role = figure';
}

body.a11y form:not([role]):before {
  content: 'role = search | presentation';
}

body.a11y h1:not([role]):before,
body.a11y h2:not([role]):before,
body.a11y h3:not([role]):before,
body.a11y h4:not([role]):before,
body.a11y h5:not([role]):before,
body.a11y h6:not([role]):before {
  content: 'role = heading';
}

body.a11y hr:not([role]):before {
  content: 'role = separator | presentation';
}

body.a11y img:not([role]):before {
  content: 'role = img | button | checkbox | link | menuitem | menuitemcheckbox | menuitemradio | option | progressbar, scrollbar | separator | slider | switch | tab | treeitem';
}

