

:root {
    --forground: #DDDBDD;
    --light: #fff;
    --lightpurple: rgba(0, 217, 173, 1.0);
    --outline: 1px rgba(0, 217, 173, 0.8) solid;
    --greyoutline:1px #E0E5EB solid;
    --white:#fff;
    --menuhover:#F4F8FF;
    --font-stack: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif!important;
}


/*-------Responder Tool*/


body img:not([alt]), body header:not([role]), body nav:not([role]), body footer:not([role]), body aside:not([role])  {
   outline:#00d9ad 2px solid!important;
   position: relative;

}


body img:not([alt]):before {
  font-family:"Helvetica Neue",HelveticaNeue,Helvetica,sans-serif;
  font-weight:500;
 content: 'alt';
  font-size:10px;
  color:#fff;
  background-color:#00d9ad;
  padding:4px;
  height:20px;
  text-transform:capitalize;
  position: absolute;
  z-index: 2000;
}


body header:not([role]):before, body nav:not([role]):before, body footer:not([role]):before, body aside:not([role]):before {
  font-family:"Helvetica Neue",HelveticaNeue,Helvetica,sans-serif;
  font-weight:500;
 content: 'role';
  font-size:10px;
  color:#fff;
  background-color:#00d9ad;
  padding:4px;
  height:20px;
  text-transform:capitalize;
  position: absolute;
  z-index: 2000;
  top:0;
  left:0;
}

#my-extension-root {
    width: 400px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2147483647;
    background-color: white;
    box-shadow: 0px 0px 5px #00d9ad;
}



.my-extension {
   padding: 20px;
}

