


  $type: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif!important;
  $white: #fff;
  $green: #00d9ad;



/*-------Responder Tool*/


body.receptor img:not([alt]), body.receptor header:not([role]), body.receptor nav:not([role]), body.receptor footer:not([role]), body.receptor aside:not([role])  {
   outline:$green 2px solid!important;
   position: relative;

}


body.receptor img:not([alt]):before {
  font-family:$type!important;
  font-weight:500;
  content: 'alt';
  font-size:10px;
  color:$white;
  background-color:$green;
  padding:4px;
  height:20px;
  text-transform:capitalize;
  position: absolute;
  z-index: 2000;
}


body.receptor header:not([role]):before, body.receptor nav:not([role]):before, body.receptor footer:not([role]):before, body.receptor aside:not([role]):before {
  font-family: $type;
  font-weight:500;
 content: 'role';
  font-size:10px;
  color:$white;
  background-color:$green;
  padding:4px;
  height:20px;
  text-transform:capitalize;
  position: absolute;
  z-index: 2000;
  top:0;
  left:0;
}





